<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Project</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <button class="btn btn-sm btn-outline-secondary">?</button>
      </div>
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/projects/issue">Issue</a></li>
            <li class="breadcrumb-item active">Create Issue</li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>Issue Id</b>
      </div>
    </div>
  
  </div>
  
  
  <form action="/projects/addIssue" method="POST">
  
    <div class="row form-group mb-4">
      <div class="col">
        <label for="projectname">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="" placeholder="Title" required>
      </div>
  
    </div>

    <div class="form-group mb-4">
        <label for="tel">Description</label>
        <textarea type="text" class="form-control" id="description" name="description" cols="30" rows="10" placeholder="Description" required></textarea>
      </div>
    <div class="row form-group mb-4">
      <div class="col">
        <label for="label">Label</label>
        <select multiple class="form-control" name="label" id="labelSelect">
            <option value="bug">bug</option>
            <option value="enhancement">enhancement</option>
            <option value="feature">feature</option>
            <option value="documentation">documentation</option>
            <option value="design">design</option>
          </select>
      </div>
       <div class="col">
        <label for="details">Author</label>
        <input class="form-control" name="author" id="author" value="" placeholder="Author" required>
       </div>
    </div>
  
    <div class="form-group mb-4">
      <button type="submit" class="btn btn-primary">Add Issue</button>
    </div>
  
    
  
  </form>